.clear,
.clearfix:after {
  height: 0;
  clear: both;
}

body,
button,
input,
time {
  font-family: "PingFangSC", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

.num {
  font-family: "Arial-MT", Arial;
}

a {
  text-decoration: none;
}

.clearfix:after,
.hidden {
  visibility: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

body {
  font-weight: 400;
  user-select: none;
}

li,
ul {
  list-style: none;
}

img {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  max-width: 100%;
  vertical-align: bottom;
}

.clearfix:after {
  content: "";
  display: block;
}

body,
html {
  height: 100%;
  -webkit-text-size-adjust: none;
  ß
}

button {
  cursor: pointer;
}

.relative {
  position: relative;
}

.tac {
  text-align: center;
}

.db {
  display: block;
}

.dn {
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
