.clear,
.clearfix:after {
  height: 0;
  clear: both;
}

body,
button,
input,
time {
  font-family: "PingFangSC", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

.num {
  font-family: "Arial-MT", Arial;
}

a {
  text-decoration: none;
  color: #0076ff;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
}

.clearfix:after,
.hidden {
  visibility: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

body {
  font-weight: 400;
  user-select: none;
  line-height: 1.5;
}

li,
ul {
  list-style: none;
}

img {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  max-width: 100%;
  vertical-align: bottom;
}

.clearfix:after {
  content: "";
  display: block;
}

body,
html {
  height: 100%;
  -webkit-text-size-adjust: none;
}

.relative {
  position: relative;
}

.tac {
  text-align: center;
}

.db {
  display: block;
}

.dn {
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.btn_blue {
  background-color: #38a6fa;
}

.btn_blue:active {
  background-color: #2381ca;
}

.btn_blue.disable {
  background-color: #99d0fb;
  color: rgba(255, 255, 255, 0.8);
}

.btn_cyan {
  background-color: #36bcc1;
}

.btn_cyan:active {
  background-color: #189da2;
}

.btn_cyan.disable {
  background-color: #95dadd;
  color: rgba(255, 255, 255, 0.8);
}

button {
  border-radius: 3px;
  height: 44px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  width: 100%;
  display: block;
  cursor: pointer;
}

.red {
  color: #d85345;
}

.alert_input {
  border-radius: 3px;
  height: 44px;
  font-size: 16px;
  background-color: #fafafa;
  border: solid 0.5px #e1e1e1;
  width: 100%;
}

.alert_input:placeholder {
  opacity: 0.5;
  font-size: 16px;
  color: #2b3242;
}

.blue {
  color: #289cf5;
}

.orange {
  color: #ea6e24;
}

.green {
  color: #7dc331;
}

.skyblue {
  color: #36bcc1;
}

.darkblue {
  color: #374259;
}

.gray {
  color: #9da3af;
}
