*{
  text-decoration: none;
}
.download{
  border-bottom: 1px solid rgb(210,210,210);
}
.download_750{
  width: 750px;
  z-index: 999;
}
.download_750 table{
  width: 750px;
  background-color: rgb(240,240,240);
}
.download_750{
  height: 120px;
  line-height: 120px;
  overflow: hidden;
}
.download_750 .tupian{
  padding: 18px;
}
.download_750 img{
  height: 84px;
}
.download_750 .but_d{
  text-align: right;
  padding-bottom: 46px;
  padding-right: 30px;
}
.download .do{
  float: right;
  display: block;
  text-align: center;
  color: white;
  background-color: #7cd04d;
}
.download_750 .do{
  width: 200px;
  line-height: 60px;
  height: 60px;
  font-size: 36px;
  border-radius: 10px;
}
/*normal*/
.download_nor{
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid rgb(220,220,220);
}
.download_nor{
  height: 75px;
  line-height: 75px;
  overflow: hidden;
}
.download_nor table{
  width: 100%;
  /*height: ;*/
  background-color: rgb(240,240,240);
}
.download_nor .tupian{
  padding: 13px;
}
.download_nor img{
  height: 50px;
}
.download_nor .but_d{
  text-align: right;
  padding: 0px 15px 30px 0;
}
.download_nor .do{
  width: 100px;
  line-height: 35px;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
}








