.clear,
.clearfix:after {
  height: 0;
  clear: both;
}

body,
button,
input,
time {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
a{
  text-decoration: none;
}
.clearfix:after,
.hidden {
  visibility: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

body {
  font-weight: 400;
  user-select: none;
}

li,
ul {
  list-style: none;
}

img {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  max-width: 100%;
  vertical-align: bottom;
}

.clearfix:after {
  content: "";
  display: block;
}

#axon_loadBanner,
#maxit_pop_div,
#wins_toolbar,
iframe {
  display: none !important;
}

body,
html {
  height: 100%;
}

body {
  color: #434343;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  font-size: 100%;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5;
  background: #e8e8e8;
}

button {
  cursor: pointer;
  color: #fff;
  border-radius: .175em;
  line-height: 1;
  font-weight: 500;
  font-size: 1em;
}

button.btn-orange {
  background-color: #fe9d00;
}

button.btn-orange:active {
  background-color: #e78c1e;
}

button.btn-red {
  background-color: #ec403c;
}

button.btn-red:active {
  background-color: #d63431;
}

button.disabled,
button.disabled:active {
  background: #d2d2d2 !important;
  border-color: #d2d2d2 !important;
}

button.disabled {
  color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 1.25em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: .9125em;
}

h4 {
  font-size: .875em;
}

h5 {
  font-size: .8125em;
}

h6 {
  font-size: .75em;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.black {
  color: #313131;
}

.white {
  color: #fff;
}

.gray-898989 {
  color: #898989;
}

.gray-707070 {
  color: #707070;
}

.gray-686868 {
  color: #686868;
}

.blue {
  color: #008dcf;
}

.red {
  color: #ec313a;
}

.green {
  color: #00b261;
}

.orange {
  color: #fe6700;
}

.setnone {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.line-text-overhidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line1-text-overhidden {
  -webkit-line-clamp: 1;
}

.line2-text-overhidden {
  -webkit-line-clamp: 2;
}

.line3-text-overhidden {
  -webkit-line-clamp: 3;
}

.divider {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  position: absolute;
  z-index: 1;
  background-color: #dcdcdc;
}

.divider-vertical {
  width: 1px;
  height: 100%;
  -webkit-transform: scaleX(.4);
  transform: scaleX(.4);
}

.divider-horizontal {
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(.4);
  transform: scaleY(.4);
}

.divider-left,
.divider-top {
  top: 0;
  left: 0;
}

.divider-right {
  top: 0;
  right: 0;
}

.divider-bottom {
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 319px) and (max-width: 359px) {
  body {
    font-size: 95%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
  body {
    font-size: 120%;
  }
}

@media only screen and (min-width: 601px) {
  body {
    font-size: 150%;
  }
}

@media only screen and (min-width: 640px) {
  body {
    font-size: 180%;
  }
}
a{
   color: #508cee !important;
}
