*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition:all .3s ease-out;
    -moz-transition:all .3s ease-out; /* Firefox 4 */
    -webkit-transition:all .3s ease-out; /* Safari and Chrome */
    -o-transition:all .3s ease-out; /* Opera */
    text-decoration: none;
    list-style: none;
    user-select: none;
    outline:none;
    padding: 0;
    margin: 0;
}
.mm{
    margin-top: -300px !important;
    height: 730px !important;
}
body{
    width: 750px;
    background-color:#038f00;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px !important;
    color: #155314;
    padding-bottom: 40px;
}
body > img{
    margin-top: -20px;
}
.aaaaa{
    position: relative;
    z-index: 100;
    margin-top: -70px;
}
.index_list_2{
    display: block;
    width: 100%;
    text-align: center;
}
.index_list_2 span{
    margin-left: 20px;
}