body{
    background-color: #ffffff !important;
}
p{
    /*text-align: justify !important;*/
}
.loadmore{
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}
.loadmore span{
    color: #909090;
    padding: 6px 30px;
    /*background-color: rgba(0,0,0,0.05);*/
}
textarea{
    line-height: 1.3em;
    border-radius: 0 !important;
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: black;
    font-size: 15px;
    box-shadow: none;
    text-indent: 0;
    diplay:block;
    overflow-y:hidden;
    background-color: #ffffff;
    /*-webkit-box-shadow:inset 0 0px 6px rgba(0,0,0,0.04);*/
    /*-moz-box-shadow:inset 0 0px 6px rgba(0,0,0,0.04);*/
    /*box-shadow:inset 0 0px 6px rgba(0,0,0,0.04);*/
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    resize: none;
    border: 1px solid rgb(230,230,230);
}
/*è¯„è®ºè¾“å…¥çš„*/
.top_input_text_out{
    width: 100%;
    position: relative;
}
.top_input_text_out > div:nth-child(1){
    margin-top: 34px;
    margin-bottom: 10px;
    border-left: 4px solid rgba(226, 115, 54, 1);
    padding-left: 8px;
}
.top_input_text_out > div{
    margin:0 27px 0 15px;
}
.top_input_text{
    width: 100%;
    height: 60px;
    padding: 10px 2px 10px 10px;
}
.top_input_text_out .check_out{
    width: 100%;
    height: 30px;
    text-align: right;
    position: relative;
}
.top_input_text_out .check_out a{
    margin-top: 10px;
    text-align: center;
    display: block;
    font-size: 14px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -10px;
    color: white;
    background-color: #67b89c;
}
/*å„ç§æç¤º*/
.tips{
    bottom: 80px;
    font-size: 14px;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999
}
.tips .toast {
    text-align: center;
    /*display: none;*/
}
.tips .toast span{
    background-color: rgb(50,50,50);
    border-radius: 100px;
    color: white;
    margin: 0;
    font-size: 12px;
    padding: 6px 16px;
}
/*ç»“æŸ*/
/*å¼¹å‡ºçš„æç¤ºæ¡†*/
.alert_commmet_out{
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 999;
    padding: 35px 15px 15px 15px;
    top: 0px;
    display: none;
    z-index: 999;

}
.alert_commmet_out > div{
    width: 100%;
    height: 152px;
    padding-top: 10px;
    background-color: white;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.4);
}
.alert_commmet_out .u_name{
    font-size: 13px;
    margin: 10px 15px 4px;
    padding-top: 13px;
    color: #3095d6;
}
.alert_commmet_out .out{
    width: 100%;
    padding:0 10px;
}

.alert_commmet_out .out > div{
    margin:8px 36px 0 5px;}

.alert_commmet_out textarea{
    width: 100%;
    height: 60px;
    padding: 10px 0 10px 10px;
}
.alert_commmet_out .check_out{
    text-align: right;
    position: relative;
    height: 51px;
    margin-top: 4px;
}
.alert_commmet_out .check_out a{
    margin-top: 10px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    float: right;
    position: relative;
    text-align: center;
    display: block;
    margin-right: 14px;
    color: white;
    background-color: #67b89c;
}
.alert_commmet_out .check_out .cancle{
    color: #909090;
    background-color: rgba(0,0,0,0);
}
.alert_commmet_out .check_out .cancle_c{
    background-color: rgba(0,0,0,0.05);

}
/*ç»“æŸ*/

.line{
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.05);
    opacity: 0.8;
}
table .line{
    margin-top: 4px;
    opacity: 0.5;
}
.see_go{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: black;
    margin: 0 15px 0;
}
.see_go a{
    font-size: 12px;
    /*background:#eff4f8;*/
    color:rgba(99,154,255,0.8);
}
.title{
    margin: 22px 15px 0;
}
.title .t_title{
    font-size: 20px;
    line-height: 1.3em;
}
.title .t_time{
    margin-top: 10px;
    font-size: 9px;
    opacity: 0.4;
    line-height: 18px;
    border-bottom: 1px solid rgba(200,200,200,.7);
}
.main{
    margin:0px 15px 0px;
}
.main p{
    font-size: 15px;
    line-height: 1.55em;
    margin: 20px 15px 0 0;
    opacity: 0.8;
}
.main .image{
    margin-top: 25px;
    float: right;
    width: 80px;
    height: 80px;
}
.main img{
    width: 100%;
    height:100%
}
.all_image{
    width: 100%;
    height: 100%;
    line-height: 100%;
    overflow: auto;
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 100;
    display: none;
}
.all_image img{
    width: 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.Comment_list .Comment_nub{
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.Comment_list{
    margin: 28px 15px 0;
    position: relative;
}
.Comment_list table{
    margin: 10px 0 0 0;
    width: 100%;
}
/*å¤´åƒ*/
.Comment_list .left{
    width: 35px;
    position: relative;
}
.Comment_list .left span{
    position: absolute;
    top: 0;
    width: 35px;
    height: 35px;
    border-radius: 40px;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
}
.Comment_list .left span img{
    width: 100%;
    height: 100%;


}
/*å³è¾¹ä¸œè¥¿*/
.Comment_list .right{
    padding:0 0 0 10px;
    height: 18px;
    position: relative;
    top: -3px;
}
/*ç”¨æˆ·åç§°ã€å›žå¤æ—¶é—´*/
.Comment_list .right .u_top{
    position: relative;
    height: 20px;
    padding-top: 6px;
    opacity: 0.5;
}
.Comment_list .right .u_top .u_name{
    font-size: 13px;
    height: 18px;
    opacity: 0.5;
    position: absolute;
    left: 0;
}
.Comment_list .right .u_top .u_time{
    font-size: 12px;
    height: 18px;
    opacity: 0.5;
    position: absolute;
    right: 0;
}
/*ç”¨æˆ·å›žå¤å†…å®¹*/
.Comment_list .u_det p{
    border: 1px solid red;
    margin: 4px;
    padding: 12px;
}
.Comment_list .u_det span{
    color: #849fcc;
}
.Comment_list  p{
    font-size: 14px;
    line-height: 1.3em;
    color: rgb(98, 110, 130);
}
/*å„ç§æŒ‰é’®*/
.Comment_list .u_bottom_out{
    height: 20px;
    line-height: 20px;
    position: relative;
    padding-top: 6px;
    padding-bottom: 8px;

}
.Comment_list .u_bottom{
    height: 20px;
    line-height: 20px;
    margin-top: 6px;
    color:red;
    font-size: 12px;
    text-align: right;
    position: absolute;
    right: 0;
}
.Comment_list .u_bottom a{
    height: 22px;
    line-height: 22px;
    text-align: right;
    min-width: 30px;
    margin-left: 10px;
    float: right;
    display: block;
    color: #acacac;
}
.Comment_list .u_bottom .zan_but_c{
    color: rgb(218,100,54);
    font-weight: 900;
}
.Comment_list .u_bottom_out .zan_plus{
    position: absolute;
    right: 0px;
    top: -4px;
    font-size: 11px;
    color: rgb(218,100,54);
    opacity: 0;
}
.Comment_list .u_bottom_out .zan_plus_c{
    animation: spin 0.5s linear infinite;
}
@keyframes spin {
    0% {
        top: -4px;
        opacity: 0;
    }
    50% {
        top: -8px;
        opacity: 1;
    }
    100% {
        top: -12px;
        opacity: 0;
    }
}

.adv_read{
    margin-top: 10px;
    padding: 0 15px;
}
.adv_read > div{
    font-size: 16px;
    margin-bottom: 10px;
    border-left: 4px solid rgba(226, 115, 54,1);
    padding-left: 8px;
}
.adv_read ul{
    display: table;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid rgb(230,230,230);
}
.adv_read ul a{
    display: block;
    /*height: 57px;*/
    width: 100%;
    padding: 10px 0;
}
.adv_read ul a div{
    color: rgb(98,110,130);
}
.adv_read ul li{
    /*height: 57px;*/
    padding:6px 10px;
    font-size: 15px;
    border-bottom: 1px solid #f3f3f3;
}
.adv_read ul li:last-child{
    border-bottom: 0px;
}
.adv_read ul li img{
    height: 57px;width: 57px;
    float: left;
    margin-right: 10px;
    background-color: #eaeaea;
}
.adv_read ul li div{
    text-align: justify;
    word-break: break-all;
}





