*{  outline:none;  -moz-outline:none;margin: 0;  padding: 0;list-style: none;text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    max-width: 100%;
}
body{  font-family: Helvetica, Arial,'STHeiti','Microsoft YaHei', sans-serif;  font-size: 16px;  color:#455576;  background-color:#f6f6f6;   margin:  0 auto;  }
.link_all{width: 100%; display: table;margin-top: 20px;background-color: #ffffff}
.link_all > li{height: 95px;float: left;width: 33.3%;text-align: center;position: relative;background-color: #ffffff}
.link_all  > li > a > img{width: 57px;height: 57px;position: relative;top: 10px}
.link_all  > li > a > span{color:rgb(79,95,128);display: block;font-size: 14px;position: relative;top: 6px}
.ui-loader{display: none}
.ui-page{min-height: 10px !important}
.link_all .day_news:after{
    content: "";
    position: absolute;
    top: 16px;margin-left: 9px;
    background-color: #ea5a53;
    color: #ffffff;
    height: 9px;width: 9px;border-radius: 50%;
}

/*
*/
.toast{
    position: fixed;
    bottom:60px;
    left:0px;  right:0px;  margin-left:auto;margin-right:auto;text-align: center;
    z-index: 100;
    display: none;
}
.toast span{
    border-radius: 10px;
    padding: 8px 14px;
    font-size: 13px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.8);
}
.toast img{
    position: absolute;
    visibility:hidden
}
body > .ad_1:first-child{
    margin-top: 0 !important;
}
.ad_1,.ad_2{
    width: 100%;
    display: block;
    margin-top: 20px;
    background-color: #ffffff;
}
.ad_1 .title,.ad_2 .title{
    margin:0 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #aab0ba;
    position: relative;
    z-index: 1;
}
.ad_1 .title span,.ad_2 .title span{
    background-color: #ffffff;
    padding: 0 15px;
    z-index: 10;
    position: relative;
    font-size: 12px;
}
.ad_1 .title:after,.ad_2 .title:after{
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    background-color: #ededed;
    width: 100%;
    top: 20.5px;
    z-index: 9;
}
.ad_1 .a{
    padding: 0 28px;
    height: 83px;
    padding-bottom: 14px;
    position: relative;
}
.ad_1 .a a{
    display: block;
    width: 100%;
    position: relative;
    height: 73px;
}
.ad_1 .a .a_1{
    position: absolute;
    top: 15px;
    font-size: 17px;
    color: rgb(79,95,128);
}
.ad_1 .a .a_2{
    position: absolute;
    top: 40px;
    font-size: 13px;
    opacity: 0.7;
    color: rgb(79,95,128);
}
.ad_1 .a .a_3{
    position: absolute;
    top: 0px;right: 0px;
    height: 73px;
}
.ad_2 .b ul{
    margin-top: 4px;
    width: 100%;
    display: table;
    padding-bottom: 17px;
}
.ad_2 .b ul li{
    float: left;
    height: 40px;
    width: 50%;
    position: relative;
}
.ad_2 .b ul li a,.ad_2 .b ul li a:visited,.ad_2 .b ul li a:link{
    color: rgba(79,95,128,1);
    display: block;
}
.ad_2 .b ul li img{
    position: absolute;
    top: 5px;
    left: 24px;
    width: 30px;height: 30px;
    overflow: hidden;
}
.ad_2 .b ul li span{
    padding-left: 67px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}









.day_index:nth-child(1){
}
.day_index{
    display: table;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
body .day_index:last-child{
    border: 0px solid rgb(235, 235, 235) !important;

}
.day_index > li{
    padding:0 15px;
}
.day_index > li:nth-child(1){
    /*font-weight: bold;*/
    padding: 18px 15px 2px;
    text-align: justify;
    font-size: 18px;
    font-weight: 900;

}
.day_index > li:nth-child(2){
    float: left;
    opacity: 0.3;
    font-size: 12px;
    height: 20px;
    /*line-height: 20px;*/
}
.day_index > li:nth-child(3){
    opacity: 0.3;
    font-size: 12px;
    height: 20px;
    /*line-height: 20px;*/
    padding: 0;
}
.day_index .day_index{
    width: 100%;
}

.day_index a,.day_index a:visited,.day_index a:link{
    color: rgb(79,95,128);
}

.day_index .main_int p{
    margin: 3px 0 14px 0;
    font-size: 15px;
    line-height: 1.5em;
    text-align: justify;
}
.day_index .main_int img{
    width: 100%;
    margin-bottom: 6px;
}
.day_index .btn{
    margin-top: 20px;
    margin-bottom: 30px;
    display: table;
}
.day_index .btn_sp{
    margin-bottom: 14px;
    position: relative;
    padding: 14px 0 !important;
    width: 100%;
}
.day_index .btn_sp > div{
    width: 50px !important;height: 50px !important;
    border-radius: 50% !important;
    left: 50% !important;
    position: absolute !important;
    margin-left: -25px !important;
    top: -29px !important;
    margin-right: 0 !important;
}
.day_index .btn_sp > div img{
    top: 17px !important;
    left: 6px !important;
}
.day_index .btn_sp > div span{
    width: 50px !important;
}

.day_index .btn .like img,.day_index .btn .comment img{
    position: absolute;
    left: 0;top:-1px;
    width: 29px;height: 29px;
}
.day_index .btn img:nth-child(2){
    display: none;
}

.day_index .btn > div,.day_index .btn > a{
    display: block;
    font-size: 13px;
    color: #8290bb;
    float: left;
    width: 60px;
    height: 27px;line-height: 27px;
    border: 1px solid #dfe4ed;
    margin-right: 15px;
    border-radius:5px ;
    position: relative;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 10px 0;
    text-align: right;
}
.day_index .btn > div span,.day_index .btn > a span{
    position: absolute;
    right: 0px;
    text-align: center;
    width:30px;
    height: 27px;line-height: 27px;
}
.day_index .btn .on{
    color: #f0795d;
    border-color: rgba(226,115,54,0.4) !important;
}
.day_index .btn .on img:nth-child(2){
    display: block;
}

/*
    è´¢è®¯è¯¦æƒ…é¡µ
*/
.day_index_det{
    border-bottom: 0;
    background-color: transparent;
}



.day_post_title{
    padding: 0 15px;
    background-color: #ffffff;
}
.day_post_title > div{
    margin-top: 20px;
    color: #bcc2cc;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 28px;
    position: relative;
    text-align: center;
}
.day_post_title span{
    background-color: #ffffff;
    font-size: 12px;
    padding: 0 15px;
    position: relative;
    z-index: 10;
}
.day_post_title > div div{
    background-color: #ededed;
    height: 1px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 9;
}
.index_more{
    background-color: #ffffff;
    padding: 0 15px 30px;
    position: relative;
    top:-3px
}
.index_more a,.index_more a:visited,.index_more a:link{
    display: block;
    border: 1px solid rgb(230,230,230);
    border-radius: 7px;
    line-height: 40px;    height: 40px;
    text-align: center;
    color: rgb(79,95,128);
}
.duojin{
    margin: 0 15px;
    position: relative;
    padding-bottom: 15px;
}
.duojin a{
    display: block;
    padding-bottom: 0px;
}
.duojin a img{
    display: block;
    width: 100%;
}