


/*两个的*/
.nav_2 {
  width: 100%;
  margin-bottom: 20px;
  padding-top: -1px;
  display: block;
  position: relative;
  overflow: hidden;
}

.nav_2 a {
  width: 50vw;
  height: 34.6vw;
  position: relative;
  display: block;
  background-color: white;
  border: inset 1px solid red;
}

.nav_2 .left {
  float: left;
  /*left: -0.5px;*/
}

.nav_2 .right {
  float: right;
  /*right: -0.5px;*/
}

.nav_2 a .p_head {
  width: 9.3vw;
  height: 9.3vw;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  position: absolute;
  top: 2.1vw;
  left: 1.86vw;
  overflow: hidden;
}

.nav_2 a  .p_head img {
  width: 100%;
}

.nav_2 a  .p_name {
  height: 4.5vw;
  line-height: 4.5vw;
  font-size: 4.26vw;
  position: absolute;
  top: 3vw;
  left: 12.5vw;
  color: rgb(98, 110, 130);
  width: 36vw;/*设置宽度*/
  white-space: nowrap;/*设置不折行*/
  -o-text-overflow: ellipsis;/*兼容opera*/
  text-overflow: ellipsis;/*这就是省略号喽*/
  overflow: hidden;/*设置超过的隐藏*/
}

.nav_2 a  .p_int {
  height: 3.2vw;
  line-height: 3.2vw;
  font-size: 3vw;
  position: absolute;
  color: rgba(98, 110, 130, .7);
  top: 8.2vw;
  left: 12.5vw;
  width: 36vw;/*设置宽度*/
  white-space: nowrap;/*设置不折行*/
  -o-text-overflow: ellipsis;/*兼容opera*/
  text-overflow: ellipsis;/*这就是省略号喽*/
  overflow: hidden;/*设置超过的隐藏*/
}
/*下面的部分*/
.nav_2 a .p_pri {
  width: 100%;
  text-align: center;
  font-size: 9.6vw;
  position: absolute;
  top: 16.8vw;
  color: #eb6a60;
  font-weight: 700;
  line-height: initial;
}

.nav_2 a .p_pri span {
  font-size: 24px;
}

.nav_2 a .p_good {
  width: 100%;
  text-align: center;
  font-size: 3.2vw;
  position: absolute;
  top: 27.5vw;
  color: #eb6a60;
  font-weight: 800;
}

.nav_2 a .p_line {
  width: 44.1vw;
  height: 1px;
  background-color: rgb(230, 230, 230);
  position: absolute;
  top: 13.9vw;
  left: 2.1vw;
}


