<html>

<head>
  <title>返现协议与免责声明</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="format-detection" content="telephone=no">
  <meta content="email=no" name="format-detection">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <link type="text/css" rel="stylesheet" href="./css/base.css?4">
  <style>
    h4{
      font-size: 16px;
      text-align: center;
      margin: 20px auto;
    }
    p{
      font-size: 14px;
      margin: 0 10px;
    }
    span{
      font-weight: 500;
      margin: 10px 0;
    }
  </style>
</head>

<body>
  <h4>返现协议与免责声明</h4>
  <p>
<span>*风险提示：</span>
<br>理财有风险，投资需谨慎。投资者投资不同的理财产品将获得不同的收益预期，也将承担不同程度的风险。<b>投资过程中，可能无法获得预期的收益，甚至无法收回投资成本。P2P等互联网金融理财产品在您投资过程中并不能确保您的本金、收益安全，请您认真阅读理财产品的相关说明，了解产品特点，并根据自身风险承受能力谨慎选择，理智投资。</b>

<br><br><span>*免责声明：</span>
<br>财鱼管家所发布的产品信息仅供参考，财鱼管家尽力严谨处理本软件所载资料，但并不就其准确性作出保证。财鱼管家不对数据的错误或遗漏承担责任。 财鱼管家仅作为信息展示平台，与理财平台无任何关联关系，对理财行为的未来效果、收益或其它相关情况不作出任何保证性承诺。若因发布广告内容不实所造成的法律及相关责任，由第三方理财平台自行承担。投资前请慎重考虑平台信用、投资项目的真实性、可行性等因素。用户如因投资发生争议，请与该平台进行沟通交涉。

<br><br><span>*收益说明：</span>
<br>本页面所有预期收益（包括但不限于返利、商家返利、投资预期收益等）仅供参考，不做任何保证性承诺。一般情况下，投资的未来效果、收益以及与其相关的情况都受到复杂的市场环境、管理人自身能力等诸多因素影响，有时候还受到国家宏观调控的影响，具有不确定性。
  </p>
</body>

</html>